<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
  <meta name="theme-color" content="{{ settings.color_background }}">
  {%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}
  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; {{ current_tags | join: ', ' }}{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  {{ content_for_header }}
  {%- liquid
    assign body_font_bold = settings.font_body | font_modify: 'weight', 'bold'
    assign body_font_italic = settings.font_body | font_modify: 'style', 'italic'
  %}
  {% style %}
    {{ settings.font_heading | font_face: font_display: 'swap' }}
    {{ settings.font_body | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    :root {
      --font-heading-family: {{ settings.font_heading.family }}, {{ settings.font_heading.fallback_families }};
      --font-heading-style: {{ settings.font_heading.style }};
      --font-heading-weight: {{ settings.font_heading.weight }};
      --font-body-family: {{ settings.font_body.family }}, {{ settings.font_body.fallback_families }};
      --font-body-style: {{ settings.font_body.style }};
      --font-body-weight: {{ settings.font_body.weight }};
      --color-background: {{ settings.color_background }};
      --color-text: {{ settings.color_text }};
      --color-accent: {{ settings.color_accent }};
      --color-button-bg: {{ settings.color_button_bg }};
      --color-button-text: {{ settings.color_button_text }};
      --color-footer-bg: {{ settings.color_footer_bg }};
      --color-footer-text: {{ settings.color_footer_text }};
    }
  {% endstyle %}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','js');</script>
</head>
<body class="gradient{% if settings.sticky_header %} header-sticky{% endif %}">
  <a class="skip-to-content-link visually-hidden" href="#MainContent">Skip to content</a>
  {% sections 'header-group' %}
  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>
  {% sections 'footer-group' %}
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
